@import 'variables';

.formDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 75px;
}

.form{
    width: 35%;
    display: flex;
    flex-direction: column;
    border-color:  rgba(28, 34, 1, 0.726);
    box-shadow: 2px 2px 25px -9px rgba(33,34,1,0.86);
    padding: 6px 6px 0 6px;

    &-title{
        height: 2.2em;
        padding: 10px 5px;
        outline: none;
        border: none;
        font-weight: 500;
        font-size:  1.35em;
        display: none;

        &.open{
            display: block;
        }
    }

    &-text{
        resize: none;
        outline: none;
        min-height: 2em;
        padding: 5px;
        overflow: hidden;
        font-weight: 400;
        font-size: 1.1em;
        border: none;

        &.open{
            min-height: 6em;
        }
    }
}

.note-options {
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid $secundary-color;

    &.open{
        display: flex;
    }

}

.note-btn{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    border-radius: .3em;

    &:hover{
        background-color: lighten($secundary-color, 25%);
    }
}

.fa-check-square, .fa-images, .fa-palette{
    cursor: pointer;
    padding: 6px;
    margin: 3px;
    border-radius: .3em;

    &:hover{
        background-color: lighten($secundary-color, 25%);
    }
}
